name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-windows:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Install latest nightly
      uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        target: x86_64-pc-windows-msvc
        profile: minimal
    
    - name: Build
      run: cargo +nightly build --target=x86_64-pc-windows-msvc --verbose
    
    - name: Package
      run: ./package.sh windows debug
