name: Rust

on:
  push:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Install latest nightly
      uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        profile: minimal
        target: x86_64-pc-windows-gnu
    
    - name: Install Windows linker
      run: sudo apt install gcc-mingw-w64
    
    - name: Setup SDL2 for Windows
      run: bash ./setup_sdl_windows.sh

    - name: Build Windows
      run: RUSTFLAGS='-C link-args=-L.' cargo +nightly build --target=x86_64-pc-windows-gnu --verbose

    - name: Build Linux
      run: cargo +nightly build --verbose
    
    - name: Package Windows
      run: bash ./package.sh windows debug
    
    - name: Package Linux
      run: bash ./package.sh linux debug
    
    - name: Release
      uses: "marvinpinto/action-automatic-releases@latest"
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "latest"
        prerelease: true
        title: "Development Build"
        files: |
          *.zip
